/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

@import "compass";

@import "partials/base";
@import "partials/header";
@import "partials/typography";
@import "partials/socials";


//Background
html {
  color: white;
  background: linear-gradient( rgba(217, 46, 39, 0.8), rgba(217, 46, 39, 0.7) ), image-url("new-york-2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
