// Colors
$red: #D92E27;
$blue: #93D6CD;
$white: #FFFFFF;

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;


// Base Font
$base-font-weight: $regular;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-line-height: 1.4;



// Headings
$header-font: "Montserrat", Helvetica, Arial, sans-serif;
$header-font-weight: $bold;
$header-letter-spacing: 0.03em;
