.img-wrap {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  #logo {
    max-width: 125px;
  }
}
.text-wrap {
  text-align: center;
  padding-top: 20%;
  h1 {
    font-size: 6em;
  }
  social-wrap {
    padding-top: 15px;
  }
}
#description {
  padding-top: 45px;
  padding-bottom: 40px;
  font-size: 1.5em;
  font-weight: $light;
  color: white;
}

@media (max-width: 600px) {
  .text-wrap {
    h1 {
      font-size: 4em;
    }
  }
}
