
#sub-header {
  font-weight: $regular;
}

.social-container {
  padding-top: 20px;
}

.btn-social,
.btn-outline {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: $white;
  border: solid 1px $white;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 45px;
  background: 0 0;
  transition: all 0.3s ease-in-out;
  a > i {
    color: $white;
  }
  & i:hover {
    color: $blue;
  }
}
.btn-social:hover,
.btn-outline:hover {
  border: 1px solid $blue;
  color: $blue;
  background: $white;
}
