
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  text-align: center;
  font-weight: $header-font-weight;
  letter-spacing: $header-letter-spacing
}

a,
a:focus,
a:active,
a.active {
    outline: 0 !important;
    color: $white;
    text-decoration: none !important;
}


a:hover {
  color: $blue;
}
